<!DOCTYPE html>
<html>
	<head>
		<meta charset = "UTF-8">
		<title>express page!</title>
		<link rel="stylesheet" href="public/src/css/style.css">
	</head>
	<body>
		<header>
			<% include partials/header.ejs  %>
		</header>
		<h1>home</h1>
		<p>This is home</p>
		<footer>
			<% include partials/footer.ejs %>
		</footer>
	</body>
</html>